{% extends "base.html" %}

{% block style %}
.box div{display:inline-block;}
.gis {}
{% endblock style %}

{% block main %}
<div class="container py-4">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{static_content.header}}</h1>

        <p class="fs-4">{{static_content.information}}</p>

        <button class="btn btn-primary btn-lg " type="button" disabled>Ниже Вы можете ознакомиться с прайс листом</button>
      </div>
    </div>
    {% for service in static_content.services_list %}

    <div class="row align-items-md-stretch">

      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>{{service.name}}</h2>
          <p></p>
            <a class="btn btn-outline-light" href="{{ url_for('appointment') }}">Записаться</a>

        </div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Стоимость</h2>
          <p>{{service.title}}</p>
          <button class="btn btn-outline-secondary" type="button" disabled>{{service.cost}}</button>
        </div>
      </div>
    </div>
    <hr class="my-4">

    {% endfor %}
  </div>
{% endblock main %}
