{% extends "admin/admin_base.html" %}

{% block admin_content %}
<table>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Пароль</th>
            <th>Обновить</th>
        </tr>
    </thead>
    <tbody>
        {% for content in static_content %}
        <form name="form-masters" action="{{ url_for('admin', point='masters') }}" method="POST">
            <tr>
                <th>
                    <input name="first_name" type="text" value={{content.first_name}}>
                </th>
                <th>
                    <input name="second_name" type="text" value={{content.second_name}}>
                </th>
                <th>
                    <input name="email" type="text" value={{content.email}}>
                </th>
                <th>
                    <input name="phone_number" type="text" value={{content.phone_number}}>
                </th>
                <th>
                    <a name="password" href="{{ url_for('admin', point='masters') }}" class="button">
                        Сменить
                    </a>
                </th>
                <th>
                    <button name="id" value={{content.id}} type="submit">
                        Обновить
                    </button>
                </th>
            </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
{% endblock admin_content %}

