{% extends "base.html" %}

{% block style %}
.box div{display:inline-block;}
.gis {}
{% endblock style %}

{% block main %}
    <div class="" >
            <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='img/index_gif/haircut_2.gif') }}" class="d-block w-100 container-img" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/index_gif/haircut_1.gif') }}" class="d-block w-100 container-img" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/index_gif/haircut_3.gif') }}" class="d-block w-100 container-img" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
    <div class="container">
        <h1></h1>
        <hr>
        <h1 class="text-center" style="">Контактная информация</h1>
    </div>
    <div class="container">
        <hr>
        <h1 class="text-center" style="">Как нас найти</h1>
        <br>
        <script class="gis" type="text/javascript"  charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A22d44f2c0ec01f789284f8dcd03f62e006bc98726f2b161d800eb2f696a037b0&amp;width=100%&amp;height=500px&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
{% endblock main %}