{% extends "admin/index.html" %}

{% block head_admin %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{% endblock head_admin %}

{% block admin %}


    <div style="padding-bottom: 5%">
        <form name="field-asd1" action="{{ url_for('admin_appointments') }}" method="POST">
            <table
                id="appointment_insert"
                class="table table-bordered table-sm"
            >
            <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Тип услуги</th>
                    <th>Дата</th>
                    <th>Добавить</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input class="text-dark form-control " type="text" name="user_name" list="usersnames" value="" style="border: none; background-color: white;">
                            <datalist id="usersnames">
                                {% for user in static_content.user_list %}
                                    <option value="{{user.name}}">
                                {% endfor %}
                            </datalist>
                    </td>
                    <td>
                        <select name="service_type" class="form-select" required="" aria-label="select example">
                            <option value=None >Выберите тип услуги</option>
                            {% for type in static_content.service_types %}
                                <option value="{{item}}">{{type}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input
                                class="text-dark form-control disable"
                                type="date"
                                name="date"
                                style="border: none; background-color: white;"
                                value=""
                        >
                    </td>
                    <td>
                        <button name="button_method" type="submit" class="btn btn-primary" value="insert">Продолжить</button>
                    </td>
                </tr>

            </tbody>
            </table>
            {% for item in appointment_continue%}
            {% endfor %}
            <hr>
            <table
                id="appointment_insert_next"
                class="table table-bordered table-sm"
            >
            <thead>
                <tr>
                    <th>Мастер</th>
                    <th>Услуга</th>
                    <th>Время</th>
                    <th>Добавить</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="text-dark form-control " type="text" name="master_name" list="mastersnames" value="" style="border: none; background-color: white;">
                            <datalist id="mastersnames">
                                {% for master in static_content.masters_list %}
                                {% if master.type == service_type %}
                                    <option value="{{master.name}}">
                                {% endif %}
                                {% endfor %}
                            </datalist>
                    </td>
                    <td>
                        <select name="service_type" class="form-select" required="" aria-label="select example">
                            <option value=None >Выберите тип услуги</option>
                            {% for type in static_content.service_types %}
                                <option value="{{item}}">{{type}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input
                                class="text-dark form-control disable"
                                type="date"
                                name="date"
                                style="border: none; background-color: white;"
                                value=""
                        >
                    </td>
                    <td>
                        <button name="button_method" type="submit" class="btn btn-primary" value="insert">Продолжить</button>
                    </td>
                </tr>

            </tbody>
            </table>
        </form>
    </div>
    <hr>
    <table id="appointments" class="table table-bordered table-sm " style="height: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Клиент</th>
                <th>Мастер</th>
                <th>Услуга</th>
                <th>Дата</th>
                <th>Доп информация</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in static_content.appointments %}
        <form name="field-asd1" action="{{ url_for('admin_appointments') }}" method="POST">
            <tr>
                <td>
                    <a name="appointment.id">{{appointment.id}}</a>
                </td>
                <td>
                    <a name="appointment.user_id">{{appointment.user_id}}</a>
                </td>
                <td>
                    <input
                            class="text-dark form-control"
                            type="text"
                            name="appointment.master_id"
                            style="border: none; background-color: white;"
                            value="{{appointment.master_id}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control"
                            type="text"
                            name="appointment.service_name"
                            style="border: none; background-color: white; width: auto;"
                            value="{{appointment.service_name}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control"
                            type="datetime-local"
                            name="appointment.date_time"
                            style="border: none; background-color: white; width: auto;"
                            value="{{appointment.date_time}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control"
                            type="text"
                            name="appointment.extra"
                            style="border: none; background-color: white;"
                            value="{{appointment.extra}}"
                    >
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="update">Обновить</button>
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="delete">Удалить</button>
                </td>
            </tr>

        </form>
        {% endfor %}


        </tbody>
    </table>


{% endblock admin %}