{% extends "admin/index.html" %}

{% block head_admin %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{% endblock head_admin %}

{% block admin %}


    <div style="padding-bottom: 5%">
        <form name="field-asd1" action="{{ url_for('admin_appointments') }}" method="POST">
            <table
                id="appointment_insert"
                class="table table-bordered table-sm"
            >
            <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Категория услуги</th>
                    <th>Дата</th>
                    <th>Добавить</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input
                                class="text-dark form-control cell-unic"
                                type="text" name="user_name"
                                list="usersnames"
                                value="{{form_content.user_name}}">
                            <datalist id="usersnames">
                                {% for user in static_content.user_list %}
                                    <option value="{{user.name}}">
                                {% endfor %}
                            </datalist>
                    </td>
                    <td>
                        <select name="service_type" class="form-select" required="" aria-label="select example">
                            <option value="{{form_content.service_type}}">{{form_content.service_type}}</option>
                            {% for type in static_content.service_types %}
                                <option value="{{type}}">{{type}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input
                                class="text-dark form-control cell-unic"
                                type="date"
                                name="date"
                                value="{{form_content.date}}"
                        >
                    </td>
                    <td>
                        <button name="button_method" type="submit" class="btn btn-primary" value="continue">Поиск</button>
                    </td>
                </tr>

            </tbody>
            </table>
            {% if form_content.button_method == 'continue' %}
                <hr>
                <div class="row g-5">
                {% for item_master in masters %}

                    <div class="col-lg-4">
                        <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename=item_master.img) }}" alt="">
                          <input name="master_id" value="{{item_master.item.id}}" type="text" hidden="">

                        <div class="card-body">
                            <select name="service_name" class="form-select" required="" aria-label="select example">
                                    <option value="None">"Выберите услугу"</option>
                                {% for services in item_master.services %}
                                    <option value="{{services}}">{{services}}</option>
                                {% endfor %}
                            </select>
                            <select name="available_time" class="form-select" required="" aria-label="select example">
                                    <option value="None">"Выберите время"</option>
                                {% for time in item_master.available_time %}
                                    <option value={{time}}>{{time}}</option>
                                {% endfor %}
                            </select>
                          <hr>
                            <button name="button_method"
                                    value="insert"
                                    class="w-100 btn btn-primary btn-lg"
                                    type="submit" >
                                Записаться
                            </button>
                        </div>
                      </div>
                    </div>

                {% endfor %}
                </div>
            {% else %}
        </form>
    </div>
    <table id="appointments" class="table table-bordered table-sm " style="height: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Клиент</th>
                <th>Мастер</th>
                <th>Услуга</th>
                <th>Дата</th>
                <th>Доп информация</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in static_content.appointments %}
        <form name="field-asd1" action="{{ url_for('admin_appointments') }}" method="POST">
            <tr>
                <td>
                    <input
                            class="text-dark form-control cell-unic-id"
                            type="text"
                            name="id"
                            value="{{appointment.id}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="user_id"
                            value="{{appointment.user_id}}"
                    >
                </td>
                <td>
                        <select name="master_id" class="form-select" required="" aria-label="select example">
                            <option value='{{appointment.master_id}}' >{{appointment.master_id}}</option>
                                {% for master in static_content.masters_list %}
                                {% if master.type == appointment.extra %}
                                <option value="{{master.name}}">{{master.name}}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="service_name" class="form-select" required="" aria-label="select example">
                            <option value='{{appointment.service_name}}' >{{appointment.service_name}}</option>
                            {% for service in static_content.services_list %}
                            {% if service.type == appointment.extra %}
                                <option value="{{service.name}}">{{service.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="datetime-local"
                            name="date_time"
                            value="{{appointment.date_time}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="extra"
                            value="{{appointment.extra}}"
                    >
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="update">Обновить</button>
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="delete">Удалить</button>
                </td>
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock admin %}