{% extends "base.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='js/sidebars.js') }}"></script>
  <link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet">

  {% block head_admin %}
  {% endblock head_admin %}

{% endblock head %}

{% block style %}
  .verticalLine {
    border-right: 6rem #ff0000;
  }
  .admin-panel-2 {
    float: left;
    width: 15%;
    height: 100%;
    max-width: 15%;
    min-width: 15%;
  }
  .admin-panel-8 {
    padding: 2% 3% 3% 3%;
    float: left;
    text-align: center;
    border-left: 3px solid black;
    height: 100%;
    max-width: 85%;
    min-width: 85%;
    width: 85%
  }
  .cell-unic {
    border: none;
    background-color: white;
    height: 100%;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  .cell-unic-id {
    border: none;
    background-color: white;
    height: 100%;
    width: 50px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }

{% endblock style %}

{% block main %}

  <div class="admin-panel-2" style="width: 280px;">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Персональные данные
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="{{ url_for('admin_users')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Клиенты</a></li>
              <li><a href="{{ url_for('admin_appointments')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Записи</a></li>
              <li><a href="{{ url_for('admin_masters')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Мастера</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            Контент
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="{{ url_for('admin_general')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Главная страница</a></li>
              <li><a href="{{ url_for('admin_services')}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Услуги</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <a href="{{ url_for('admin')}}" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Account</a>

        </li>
      </ul>
    </div>

  <div class="admin-panel-8">
  {% block admin %}

  {% endblock admin %}
  </div>

{% endblock main %}