{% extends "admin/index.html" %}

{% block head_admin %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">$(document).ready(function() {
    $('#example').DataTable(

         {

      "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "iDisplayLength": 5
       }
        );
} );

</script>
{% endblock head_admin %}

{% block admin %}

<div class="container">

            <table id="appointmentsw" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Клиент</th>
                        <th>Мастер</th>
                        <th>Услуга</th>
                        <th>Дата</th>
                        <th>Номер телефона</th>
                    </tr>
                </thead>
                <tbody>
                <form name="field-asd1" method="POST">
                    <tr>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="as"
                                    style="border: none; background-color: white;"
                                    value="as"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="as"
                                    style="border: none; background-color: white;"
                                    value="as"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="as"
                                    style="border: none; background-color: white;"
                                    value="as"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="as"
                                    style="border: none; background-color: white;"
                                    value="as"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="as"
                                    style="border: none; background-color: white;"
                                    value="as"
                            >
                        </td>
                        <td>
                            <button name="aa" type="submit" type="button" class="btn btn-primary">Добавить</button>
                        </td>

                    </tr>

                   </form>



                </tbody>
            </table>

            <table id="appointments" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Клиент</th>
                        <th>Мастер</th>
                        <th>Услуга</th>
                        <th>Дата</th>
                        <th>Номер телефона</th>
                    </tr>
                </thead>
                <tbody>
                {% for content in static_content.appointments %}
                <form name="field-asd1" method="POST">
                    <tr>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="{{content.id}}"
                                    style="border: none; background-color: white;"
                                    value="{{content.id}}"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control disable"
                                    type="text"
                                    name="{{content.user_id}}"
                                    style="border: none; background-color: white;"
                                    value="{{content.user_id}}"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control"
                                    type="text"
                                    name="{{content.master_id}}"
                                    style="border: none; background-color: white;"
                                    value="{{content.master_id}}"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control"
                                    type="text"
                                    name="{{content.service_name}}"
                                    style="border: none; background-color: white; width: auto;"
                                    value="{{content.service_name}}"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control"
                                    type="datetime-local"
                                    name="{{content.date_time}}"
                                    style="border: none; background-color: white;"
                                    value="{{content.date_time}}"
                            >
                        </td>
                        <td>
                            <input
                                    class="text-dark form-control"
                                    type="text"
                                    name="${{content.extra}}"
                                    style="border: none; background-color: white;"
                                    value="{{content.extra}}"
                            >
                        </td>
                        <td>
                            <button name="aa" type="submit" type="button" class="btn btn-primary">Изменить</button>
                        </td>
                        <td>
                            <button name="aa" type="submit" type="button" class="btn btn-primary">Удалить</button>
                        </td>
                    </tr>

                   </form>
                {% endfor %}


                </tbody>
    </table>


</div>

{% endblock admin %}