{% extends "admin/index.html" %}

{% block head_admin %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{% endblock head_admin %}

{% block admin %}
    <h2>{{status}}</h2>
    <table id="users_insert" class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
                <th>Пароль</th>
                <th>Номер телефона</th>
                <th>Роль</th>
                <th>Добавить</th>
            </tr>
        </thead>
        <tbody>
        <form name="field-insert" action="{{ url_for('admin_users') }}" method="POST">
            <tr>
                <td>
                    <input
                            class="text-dark form-control cell-unic "
                            type="text"
                            name="name"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="email"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="password"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="phone_number"
                    >
                </td>
                <td>
                    <select name="user_role" class="form-select" required="" aria-label="select example">
                        <option value='' ></option>
                        <option value="guest">guest</option>
                        <option value="admin">admin</option>
                    </select>
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="insert">Добавить</button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>

    <hr>
    <table id="users-update-delete" class="table table-bordered table-sm " style="height: 100%;">
        <thead>
            <tr>
                <th>id</th>
                <th>ФИО</th>
                <th>Email</th>
                <th>Пароль</th>
                <th>Номер телефона</th>
                <th>Роль</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <form name="field-update" action="{{ url_for('admin_users') }}" method="POST">
                <td >
                    <input
                            class="text-dark form-control cell-unic-id"
                            type="text"
                            name="id"
                            value="{{user.id}}"

                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="name"
                            value="{{user.name}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="email"
                            value="{{user.email}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="password"
                            name="password"
                            value="{{user.password}}"
                    >
                </td>
                <td>
                    <input
                            class="text-dark form-control cell-unic"
                            type="text"
                            name="phone_number"
                            value="{{user.phone_number}}"
                    >
                </td>
                <td>
                    <select name="user_role" class="form-select" required="" aria-label="select example">
                        <option value=role>{{user.role}}</option>
                        <option value="guest">guest</option>
                        <option value="admin">admin</option>
                    </select>
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="update">Обновить</button>
                </td>
                <td>
                    <button name="button_method" type="submit" class="btn btn-primary" value="delete">Удалить</button>
                </td>
        </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock admin %}