<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Simakov Ivan">

    <title>Базовая страница</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

  </head>
  <body style="background: #F8F9FA;">

    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
          <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
                <li class="nav-item"><a class="nav-link" href="#"  style="color: white;">Главная</a></li>
                <li class="nav-item dropdown">
              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                Услуги
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
                <li class="nav-item dropdown">
                  <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                    Мастера
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Записаться</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Авторизация</a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

    <main>
      <div style="background: #F7EDF0;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>F7EDF0</h1>
        </div>
      </div>
      <div style="background: #D7DBDF;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>D7DBDF</h1>
        </div>
      </div>
      <div style="background: #FFFEF5;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>FFFEF5</h1>
        </div>
      </div>
      <div style="background: #FAF6F7;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>FAF6F7</h1>
        </div>
      </div>
      <div style="background: #E8EAEC;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>E8EAEC</h1>
        </div>
      </div>
      <div style="background: #FFFFFB;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>FFFFFB</h1>
        </div>
      </div>
        <div style="background: #EBEBEE;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>EBEBEE</h1>
        </div>
      </div>
      <div style="background: #E7EAEA;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>E7EAEA</h1>
        </div>
      </div>
      <div style="background: #EBEBEE;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>EBEBEE</h1>
        </div>
      </div>
        <div style="background: #ECE9EC;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>ECE9EC</h1>
        </div>
      </div>
       <div style="background: #e8ebf7;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>e8ebf7</h1>
        </div>
      </div>
               <div style="background: #C8D4E5;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>C8D4E5</h1>
        </div>
      </div>
               <div style="background: #9EB3D1;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>9EB3D1</h1>
        </div>
      </div>
                       <div style="background: #212529;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>212529</h1>
        </div>
      </div>
               <div style="background: #343A40;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>343A40</h1>
        </div>
      </div>
               <div style="background: #495057;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>495057</h1>
        </div>
      </div>




               <div style="background: #DEE2E6;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>DEE2E6</h1>
        </div>
      </div>
               <div style="background: #E9ECEF;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>E9ECEF</h1>
        </div>
      </div>
               <div style="background: #F8F9FA;">
        <div class="container">
          <br>
          <br>
          <br>
          <h1>F8F9FA</h1>
        </div>
      </div>
      <div class="container">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Example headline.</h1>
                  <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Some representative placeholder content for the second slide of the carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>One more for good measure.</h1>
                  <p>Some representative placeholder content for the third slide of this carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="container">
        <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ url_for('static', filename='img/mem_1.gif') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/mem_2.gif') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/mem_3.gif') }}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </main>



    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Po!nt, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="fa fa-telegram" href="#" style="font-size:30px; color: black;"></a>
          </li>
          <li class="ms-3">
              <a class="fa fa-vk" href="#" style="font-size:30px; color: black;"></a>
          </li>
          <li class="ms-3">
             <a class="fa fa-instagram " href="#" style="font-size:30px; color: black;"></a>
          </li>
          <li class="ms-3">
             <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          </li>
        </ul>
      </footer>
    </div>

  </body>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</html>


<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
          <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item">
                  <a class="nav-link nav-panel" href="{{ url_for('start') }}"  style="color: white;">Главная</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="btn dropdown-toggle nav-link nav-panel" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                    Услуги
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="{{ url_for('services') }}">Брови</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('services') }}">Ногти</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('services') }}">Окрашивание</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('services') }}">Шугаринг</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('services') }}">Стрижка</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('services') }}">Солярий</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <button class="btn dropdown-toggle nav-panel" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                    Мастера
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="{{ url_for('masters') }}">Брови</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('masters') }}">Ногти</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('masters') }}">Окрашивание</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('masters') }}">Шугаринг</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('masters') }}">Стрижка</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-panel" href="{{ url_for('appointment') }}" style="color: white;">Записаться</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-panel" href="{{ url_for('auth') }}" style="color: white;">Авторизация</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
